.line-l1,
.line-l2 {
  border-bottom: 2px solid #ff7435;
  width: 30px;
  display: block;
  margin: 2px auto;
}
.title,
.rest-tabs__bottom-title,
.reviews__title,
.offers__title,
.location__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', sans-serif;
  font-weight: 500;
  margin: 0;
  display: block;
}
.color-attention {
  color: #e85715;
}
.btn,
.btn--icon-calendar,
.btn--borderend,
.btn--background {
  background: #ff7435;
  text-transform: uppercase;
  color: #fff;
  border-radius: 25px;
  padding: 10px 0 6px;
  display: block;
  text-align: center;
  width: 142px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  border: solid 2px;
}
.btn:hover {
  background: #e85715;
}
.btn--icon-calendar {
  background: url('../img/icon-calendar.png') 16px 9px no-repeat #ff7435;
  padding-left: 15px;
  width: 161px;
}
.btn--icon-calendar:hover {
  background: url('../img/icon-calendar.png') 16px 9px no-repeat #e85715;
}
.btn--borderend {
  background: none;
}
.btn--borderend:hover {
  color: #079b84;
  background: #fff;
}
.btn--background {
  border-radius: 0;
  background: #0ab89d;
}
.btn--background:hover {
  background: #079b84;
}
.btn--stipple {
  color: #191919;
  border-radius: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #191919;
  text-decoration: none;
  padding: 13px 0 4px;
  width: auto;
  width: 81px;
}
.btn--stipple:hover {
  border-bottom: none;
  background: none;
}
.btn-social {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  height: 20px;
  background: url('../img/icon-vk.png') center no-repeat;
}
.btn-social--f {
  background: url('../img/icon-facebook.png') center no-repeat;
}
.btn-social--insta {
  background: url('../img/insta.png') center no-repeat;
}
.btn--second--vk {
  background: url('../img/icon-vk-second.png') no-repeat;
  float: left;
}
.btn--second--f {
  background: url('../img/icon-face-second.png') no-repeat;
  float: left;
}
.btn--second--insta {
  background: url('../img/icon-insta-second.png') no-repeat;
  float: left;
}
body {
  color: #191919;
  font-family: 'fira sans', sans-serif;
}
a,
button {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* fira-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans'), local('FiraSans-Regular'), url('../fonts/fira-sans-v5-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* fira-sans-500 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-500.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('../fonts/fira-sans-v5-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-500.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* fira-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('../fonts/fira-sans-v5-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-700.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* pt-serif-caption-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Serif Caption'), local('PTSerif-Caption'), url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.svg#PTSerifCaption') format('svg');
  /* Legacy iOS */
}
.page-header {
  color: #191919;
}
.page-header__contacts {
  font-size: 14px;
  font-family: 'fira sans', sans-serif;
}
.page-header__contacts a {
  display: block;
  font-size: 18px;
  font-family: 'PT Serif Caption', sans-serif;
}
.page-footer__our-social {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 143px;
}
.main-nav__list {
  color: #191919;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
}
.main-nav__link {
  float: left;
  margin: 5px;
}
.main-nav__link:hover {
  color: #ff7435;
}
/*
.line-l1, .line-l2{
  border-bottom:                2px solid @color-second;
  width:                        20px;
  display:                      block;
  margin:                       2px auto;
}

.header-menu {
  color:                        @gray-dark;
  font-size:                    @text-size-sm;
  text-transform:               uppercase;
  font-weight:                  500;
  display:                      block;
  float:                        left;
  margin:                       5px;

  a{
    &:hover{
      color:                    @color-second;
    }
  }
}

.header-menu-l1{
  &:extend(.header-menu);
  color:                        @color-second;

  a{
    &:hover > .line-l1{
      opacity:                    0;
    }
  }
}


.header-menu-l2{
  &:extend(.header-menu);
  color:                        @color-second;

  a{
    &:hover > .line-l2{
      opacity:                    0;
    }
  }
}

*/
.rest-tabs__tab {
  color: #838383;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  float: left;
}
.rest-tabs__tab a > .line-l1 {
  opacity: 0;
}
.rest-tabs__tab a:active {
  color: #ff7435;
}
.rest-tabs__tab a:active > .line-l1 {
  opacity: 1;
}
.rest-tabs__top-header {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 36px;
}
.rest-tabs__top-description {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 18px;
}
.rest-tabs__bottom-description {
  font-size: 16px;
  text-align: center;
}
.rest-tabs__services {
  color: #191919;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
}
.rest-tabs__services li {
  float: left;
  margin: 5px;
}
.reviews__title {
  color: #ffffff;
}
.aparts__type {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 26px;
}
.aparts__price {
  font-size: 14px;
}
.form__step-title {
  font-size: 14px;
  color: #838383;
}
.form__step-description {
  font-size: 26px;
  font-family: 'PT Serif Caption', sans-serif;
}
.form-header__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', sans-serif;
}
.form-header__description {
  font-size: 16px;
}
.logo {
  display: block;
  height: 49px;
  width: 143px;
  background: url('../img/logo.png') no-repeat;
  text-decoration: none;
  margin-bottom: 13px;
}
.text-h1,
.text-h2,
.text-h3,
.text-accent,
.text-normal,
.text-sm {
  font-family: 'PT Serif Caption', sans-serif;
  color: #191919;
  margin: 0;
  display: block;
  font-size: 36px;
}
.text-h2 {
  font-size: 30px;
}
.text-h3 {
  font-size: 14px;
  text-transform: uppercase;
}
.text-accent {
  font-size: 18px;
}
.text-normal {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}
