footer.page-footer__wrapper
    .page-footer
        .page-footer__adress
            |г. Санкт-Петербург Приморское ш.600
        .page-footer__our-social
            include ../logo/logo.jade
            a.btn-social.btn--second--vk( href="#")
            a.btn-social.btn--second--insta( href="#")
            a.btn-social.btn--second--f( href="#")
        .page-footer__contacts
            |+7 812 777-55-88
            |info@greenvalley.ru