footer.page-footer__wrapper
    .page-footer
        .page-footer__adress
            |г. Санкт-Петербург Приморское ш.600
        .page-footer__our-social
            include ../logo/logo.jade
            a.btn-social.btn--second--vk( href="#") мы в контакте
            a.btn-social.btn--second--insta( href="#") мы в инстаграмме
            a.btn-social.btn--second--f( href="#") ны на фейсбук
        .page-footer__contacts
            |+7 812 777-55-88
            |info@greenvalley.ru

script(src="js/jquery-2.2.3.min.js")
script(src="js/fancy/jquery.fancybox.pack.js")
script(src="js/slick.min.js")
script(src="js/script.js")