.type-hotel
    .type-hotel__item.type-hotel__item--border-right
        span#hotel.type-hotel__hotel(onclick='hotelSwitch_on()') Отель
    .type-hotel__item
        span#house.type-hotel__hotel.type-hotel__hotel--house.type-hotel__hotel--active(onclick='hotelSwitch_off()')  Коттедж
