@import 'blocks/block-variables/variables.less';
@import 'blocks/block-btn/btn.less';
@import 'blocks/block-global/global.less';
@import 'blocks/block-typography/typography.less';
@import 'blocks/block-page-header/page-header.less';
@import 'blocks/block-main-nav/main-nav.less';
@import 'blocks/block-rest-tabs/rest-tabs.less';
@import 'blocks/block-reviews/reviews.less';
@import 'blocks/block-offers/offers.less';
@import 'blocks/block-location/location.less';







.text-h1{
  font-family:              @font-family-h;
  color:                    @gray-dark;
  margin:                   0;
  display:                  block;
  font-size:                @text-size-xxl;

}
.text-h2{
  &:extend(.text-h1);
  font-size:                @text-size-xl;
}
.text-h3{
  &:extend(.text-h1);
  font-size:                @text-size-sm;
  text-transform:           uppercase;
}

.text-accent{
  &:extend(.text-h1);
  font-size:                @text-size-l;
}
.text-normal{
  &:extend(.text-h1);
  font-size:                @text-size;
}
.text-sm{
  &:extend(.text-h1);
  font-size:                @text-size-sm;
}