header.page-header
    .page-header__inner
        .page-header__wrapper-logo
            include ../logo/logo.jade
        include ../main-nav/main-nav.jade
        .page-header__contacts
            a(href="tel:+78127775588") +7 812 777-55-88
            | г. Санкт-Петербург, Приморское ш.600
        a.btn.btn--icon-calendar.btn--header-lg(href="form.html") Забронировать
        include ../nav-display/nav-display.jade