.rooms-header
    h1.rooms-header__title Номера в отеле Green Valley
    span.rooms-header__description Комфорт и живописный вид на Финский залив и сосновый парк.
    span.rooms-header__description 4 этажа | 70 номеров