@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  width: 100%;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
.slick-prev[dir="rtl"] {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
.slick-prev:before[dir="rtl"] {
  content: "→";
}
.slick-next {
  right: -25px;
}
.slick-next[dir="rtl"] {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
.slick-next:before[dir="rtl"] {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background-image: url('../img/fancy/fancybox_sprite.png');
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('../img/fancy/fancybox_loading.gif') center center no-repeat;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url('../img/fancy/blank.gif');
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(255, 255, 255, 0.87);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading,
  .fancybox-close,
  .fancybox-prev span,
  .fancybox-next span {
    background-image: url('../img/fancy/fancybox_sprite@2x.png');
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url('../img/fancy/fancybox_loading@2x.gif');
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.fancybox-close {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  background-image: url('../img/ico-ZOOM-OUT.png');
  background-repeat: no-repeat;
  background-position: center;
}
/* fira-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans'), local('FiraSans-Regular'), url('../fonts/fira-sans-v5-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* fira-sans-500 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-500.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('../fonts/fira-sans-v5-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-500.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* fira-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('../fonts/fira-sans-v5-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-700.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* pt-serif-caption-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Serif Caption'), local('PTSerif-Caption'), url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.svg#PTSerifCaption') format('svg');
  /* Legacy iOS */
}
.line-l1,
.line-l2 {
  border-bottom: 2px solid #ff7435;
  width: 30px;
  display: block;
  margin: 2px auto;
}
.title,
.aparts__title,
.form__step-title,
.form-header__title,
.location__title,
.offers__title,
.rest-tabs__bottom-title,
.reviews__title {
  font-family: 'PT Serif Caption', sans-serif;
  font-weight: 500;
  font-size: 26px;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media (min-width: 468px) {
  .title,
  .aparts__title,
  .form__step-title,
  .form-header__title,
  .location__title,
  .offers__title,
  .rest-tabs__bottom-title,
  .reviews__title {
    font-size: 30px;
  }
}
.color-attention {
  color: #ff7435;
  font-size: 18px;
}
.color-attention:hover {
  color: #e85715;
}
.span--wrapper {
  padding: 0 5px;
}
.oneLine:after {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 2px solid #ff7435;
  margin: 0 auto;
  opacity: 0;
}
.oneLine:hover:after {
  opacity: 1;
}
.twoLine:after {
  content: "";
  display: block;
  width: 30px;
  padding-top: 2px;
  border-top: 2px solid #ff7435;
  border-bottom: 2px solid #ff7435;
  margin: 0 auto;
  opacity: 0;
}
.twoLine:hover:after {
  opacity: 1;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
}
body {
  font-family: 'fira sans', sans-serif;
}
a,
button,
a:hover,
a:active {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
label span {
  text-transform: uppercase;
}
.btn,
.btn--icon-calendar,
.btn--borderend,
.btn--background {
  color: #fff;
  background: #ff7435;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 8px 0 5px;
  display: block;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid ;
  width: 100%;
  height: 100%;
  max-width: 180px;
  max-height: 37px;
  border-color: #ff7435;
}
.btn:hover {
  background: #e85715;
  border-color: #e85715;
  color: #fff;
}
.btn--header-lg {
  display: none;
}
@media (min-width: 1200px) {
  .btn--header-lg {
    display: inline-block;
  }
}
.btn--icon-calendar {
  background: url('../img/icon-calendar.png') 16px 9px no-repeat #ff7435;
  padding-left: 15px;
}
.btn--icon-calendar:hover {
  background: url('../img/icon-calendar.png') 16px 9px no-repeat #e85715;
}
.btn--borderend {
  background: none;
  border-color: #fff;
  color: #fff;
}
.btn--borderend:hover {
  color: #079b84;
  background: #fff;
  border-color: #fff;
}
.btn--borderend:active {
  color: #079b84;
  background: #fff;
  border-color: #fff;
}
.btn--background {
  border-radius: 0;
  background: #0ab89d;
  border-color: #0ab89d;
  max-width: 100%;
  padding: 16px 0 30px;
}
.btn--background:hover {
  background: #079b84;
  border-color: #079b84;
}
.btn--stipple {
  color: #191919;
  border-radius: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #191919;
  text-decoration: none;
  padding: 13px 0 4px;
  width: 81px;
}
.btn--stipple:hover {
  color: #000;
  border-color: #fff;
  background: none;
}
.btn--anchor {
  color: #191919;
  border-radius: 0;
  background: none;
  border: none;
  border-bottom: 1px dashed #191919;
  text-decoration: none;
  padding: 0 5px;
  display: inline-block;
  width: auto;
  text-transform: none;
  font-weight: 400;
}
.btn--anchor:hover {
  color: #000;
  border-color: #fff;
  background: none;
}
.btn-social {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  height: 20px;
  background: url('../img/icon-vk.png') center no-repeat;
  font-size: 0;
}
.btn-social--f {
  background: url('../img/icon-facebook.png') center no-repeat;
}
.btn-social--insta {
  background: url('../img/icon-insta.png') center no-repeat;
}
.btn--second--vk {
  background: url('../img/icon-vk-second.png') no-repeat;
  float: left;
}
.btn--second--f {
  background: url('../img/icon-face-second.png') no-repeat;
  float: left;
}
.btn--second--insta {
  background: url('../img/icon-insta-second.png') no-repeat;
  float: left;
}
.btn--active {
  color: #e85715;
}
.aparts {
  max-width: 380px;
  max-height: 337px;
  position: relative;
  text-align: center;
  padding-left: 10px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 320px) {
  .aparts {
    padding-left: 0px;
  }
}
.aparts__img {
  display: block;
  width: 100%;
}
.aparts__type {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 26px;
  display: block;
  background: white;
}
.aparts__title {
  color: #fff;
  margin: 20px 0;
  padding: 0 20px;
}
.aparts__price {
  display: block;
  font-size: 14px;
  background: white;
  padding: 5px 0 30px;
}
.aparts__selection-wrapper {
  background: url('../img/bg-aparts.png') no-repeat;
  padding: 0px;
  background-size: cover;
  position: relative;
}
@media (min-width: 768px) {
  .aparts__selection-wrapper {
    padding: 20px;
  }
}
.aparts__selection {
  max-width: 795px;
  margin: 0 auto;
}
.aparts__veil {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  top: 0;
}
@media (min-width: 768px) {
  .aparts__veil {
    display: none;
  }
}
.form {
  background: #fafafa;
}
.form__step {
  text-align: center;
  padding: 40px 0 30px;
}
.form__step--color {
  background: #fff;
}
@media (min-width: 768px) {
  .form__step--height-480 {
    height: 480px;
  }
}
.form__step--display-none {
  display: none;
}
.form__step--padding-bottom {
  padding-bottom: 0;
}
.form__step-item {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}
.form__step-item--full-width {
  max-width: 780px;
  padding: 0;
}
.form__step-description {
  text-transform: uppercase;
  color: #838383;
  display: block;
}
.form__switcher {
  margin: 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 780px;
  border: solid 2px;
  border-color: #fafafa;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'fira sans', sans-serif;
}
.form__switcher--flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.form__switcher--border-none {
  border-color: #fafafa;
}
@media (min-width: 320px) {
  .form__switcher--border-white {
    border-color: #fff;
  }
}
@media (min-width: 768px) {
  .form__switcher {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .form__switcher--border-white {
    border-color: #fff;
  }
  .form__switcher--border-none {
    border-color: #fafafa;
  }
}
@media (min-width: 1200px) {
  .form__switcher {
    border-color: #ebebeb;
  }
  .form__switcher--border-white {
    border-color: #fff;
  }
  .form__switcher--border-none {
    border-color: #fafafa;
  }
  .form__switcher--bg-white {
    background: white;
  }
}
.form__stend {
  padding: 50px 20px 80px;
  background: #fafafa;
  max-width: 780px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__stend {
    padding: 50px 0 80px;
  }
}
.form-header {
  text-align: center;
  margin: 40px auto;
  padding: 0 21px;
  max-width: 420px;
}
.form-header__title {
  margin: 20px 0;
}
.form-header__description {
  font-size: 16px;
  display: block;
}
.index-gallery {
  max-width: 1200px;
  margin: 0 auto;
}
.index-gallery__nav {
  height: 115px;
  display: none;
}
@media (min-width: 768px) {
  .index-gallery__nav {
    display: block;
  }
}
.length-stay {
  margin-right: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -5px;
  margin: 20px 0;
}
.length-stay__title {
  letter-spacing: 0;
  display: block;
  margin: 0 0 20px;
}
.length-stay__d {
  color: #0ab89d;
  text-align: center;
  width: 56px;
  height: 48px;
  border: solid 1px ;
  border-color: #fafafa;
}
.length-stay__d--month {
  width: 51px;
}
.length-stay__d--year {
  width: 71px;
}
@media (min-width: 1200px) {
  .length-stay__d {
    height: 25px;
    border-color: #ebebeb;
  }
}
.length-stay--border-right {
  border-right: solid 2px ;
  border-color: #fafafa;
}
@media (min-width: 1200px) {
  .length-stay--border-right {
    border-color: #ebebeb;
  }
}
@media (min-width: 1200px) {
  .length-stay {
    padding: 0 21px 30px;
  }
  .length-stay__d {
    width: 40px;
  }
  .length-stay__d--month {
    width: 43px;
  }
  .length-stay__d--year {
    width: 52px;
  }
}
.location__map {
  max-width: 1200px;
  height: 400px;
  margin: 30px auto;
}
.location__map iframe {
  width: 100%;
  height: 400px;
}
.location__to-get-on {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  margin: 40px auto;
}
@media (min-width: 1200px) {
  .location__to-get-on {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.location__transport-ico {
  display: block;
  margin: 0 auto;
  background: url('../img/our-location__bus-icon.png') no-repeat;
  width: 58px;
  height: 28px;
}
.location__transport-ico--train {
  background: url('../img/our-location__train-icon.png') no-repeat;
}
.location__transport {
  text-align: center;
  max-width: 415px;
  margin: 0 auto;
}
.location__transport-title {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  padding-top: 20px;
}
.location__transport-variants {
  font-size: 16px;
  padding: 20px;
}
@media (min-width: 1200px) {
  .location__transport-variants {
    text-align: left;
  }
}
.location__transport-variants li span {
  font-weight: 600;
}
.logo {
  text-align: center;
  width: 100%;
  min-width: 142px;
  height: 49px;
  background: url('../img/logo.png') no-repeat;
  background-position-x: center;
  display: block;
  margin-bottom: 10px;
}
.main-nav {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 59px;
  margin: 0 20px;
}
.main-nav__list {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #191919;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  display: none;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: block;
  }
}
.main-nav__link {
  float: left;
  margin: 5px;
}
.main-nav__link:hover {
  color: #ff7435;
}
.main-nav__burger {
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/icon-burger.png') no-repeat;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .main-nav__burger {
    display: none;
  }
}
.nav-display {
  display: block;
  width: 100%;
  text-transform: uppercase;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .nav-display {
    display: none;
  }
}
.nav-display__list {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #191919;
  font-size: 14px;
  font-weight: 400;
  display: block;
  width: 100%;
  border-top: 1px solid;
  border-color: #ebebeb;
}
.nav-display__link {
  border-bottom: 1px solid;
  border-color: #ebebeb;
  width: 100%;
}
.nav-display__link a {
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
}
.nav-display__link:hover {
  color: #ff7435;
}
.nav-display__burger {
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/icon-burger.png') no-repeat;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
@media (min-width: 1200px) {
  .nav-display__burger {
    display: none;
  }
}
.nav-display--show {
  display: block;
}
.nav-display > ul li {
  margin-top: -100px;
  -webkit-transition: 0.8s linear;
  transition: 0.8s linear;
}
.nav-display--show > ul li {
  margin-top: 0;
}
.offers {
  margin: 40px 0;
}
.offers__item {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.offers__title {
  padding: 20px;
}
.offers__info {
  background: rgba(255, 255, 255, 0.84);
  max-width: 300px;
  max-height: 118px;
  position: absolute;
  bottom: 60px;
  padding: 10px;
}
.offers__info-title {
  display: block;
  color: #ff7435;
  font-size: 18px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.offers__slick-slide {
  min-height: 300px;
  background-size: auto 100%;
  background-position: center -33px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .offers__slick-slide {
    background-size: 100%;
    background-position: center -53px;
  }
}
@media (min-width: 1200px) {
  .offers__slick-slide {
    background-size: cover;
    min-height: 337px;
  }
}
.offers .slick-dots li {
  border: solid 2px;
  border-color: #ff7435;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.offers .slick-dots li :before {
  content: "";
}
.offers .slick-dots .slick-active {
  border-color: #e85715;
  background: #e85715;
}
.other-rooms {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
}
.other-rooms__wrapper {
  background: #fafafa;
  margin: 0 0 40px;
}
.page-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.page-footer__wrapper {
  border-top: 1px solid #ebebeb;
  padding: 30px 20px;
}
.page-footer__adress {
  display: none;
  width: 200px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .page-footer__adress {
    display: inline-block;
  }
}
.page-footer__our-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 142px;
}
@media (min-width: 768px) {
  .page-footer__our-social {
    margin-left: -65px;
  }
}
.page-footer__contacts {
  display: none;
  width: 130px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    display: inline-block;
  }
}
.page-header {
  color: #191919;
  margin-top: 17px;
  border-bottom: 1px solid #ebebeb;
}
.page-header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.page-header__contacts {
  display: none;
  font-size: 14px;
  font-family: 'fira sans', sans-serif;
}
@media (min-width: 1200px) {
  .page-header__contacts {
    display: block;
  }
}
.page-header__contacts a {
  display: block;
  font-size: 18px;
  font-family: 'PT Serif Caption', sans-serif;
}
.page-header__wrapper-logo {
  width: 100%;
  margin-right: -65px;
}
@media (min-width: 1200px) {
  .page-header__wrapper-logo {
    width: auto;
    margin: 0;
  }
}
.payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .payment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.payment__types {
  width: 100%;
}
@media (min-width: 768px) {
  .payment__types {
    width: 65%;
    margin-left: 20px;
  }
}
.payment__type {
  background: #fff;
  padding: 0 20px;
  width: 100%;
}
.payment__type--margin {
  margin-top: 20px;
}
.payment__info {
  background: white;
  padding: 20px;
  margin: 20px 0;
}
@media (min-width: 768px) {
  .payment__info {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin: 0;
    width: 40%;
  }
}
.payment__info-title {
  display: block;
  margin: 20px auto;
}
.payment__info-price {
  font-size: 18px;
  font-weight: 500;
}
.payment__info-attention {
  padding: 20px;
  text-align: left;
  text-transform: none;
}
.payment__info-attention:before {
  content: "";
  display: inline-block;
  padding: 6px 8px;
  background-image: url('../img/ico-ATTENTION.png');
  background-repeat: no-repeat;
}
.payment__card {
  background: #fff;
  text-align: left;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .payment__card {
    padding: 20px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.payment__card-info {
  width: 100%;
}
@media (min-width: 768px) {
  .payment__card-block-left {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .payment__card-block-right {
    width: 55%;
    margin-left: 20px;
  }
}
.payment__card-descrption {
  display: block;
  width: 100%;
}
.payment__card-content {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 7px 0;
  border: 2px solid #ebebeb;
  padding: 15px 0;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.payment__card-content--mini {
  width: 55%;
}
@media (min-width: 768px) {
  .payment__card-content--mini {
    width: 100%;
  }
}
.payment__variant {
  display: none;
}
.payment__variant:checked + label:before {
  background-image: url('../img/ico-OK.png');
}
.payment__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  font-size: 15px;
  font-family: 'fira sans', sans-serif;
  font-weight: 500;
  width: 100%;
  height: 61px;
  padding: 0 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.payment__label:before {
  content: "";
  display: block;
  width: 36px;
  height: 16px;
  background-image: url('../img/ico-OK-passive.png');
  background-repeat: no-repeat;
}
.rest-tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.rest-tabs__switcher {
  margin: 0 auto;
}
.rest-tabs__tab {
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin: 10px;
}
.rest-tabs__btn {
  color: #838383;
}
.rest-tabs__btn:active {
  color: #ff7435;
}
.rest-tabs__btn:active:after {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 2px solid #ff7435;
  margin: 0 auto;
}
.rest-tabs__btn:hover {
  color: #ff7435;
}
.rest-tabs__tab-active {
  color: #ff7435;
}
.rest-tabs__tab-active:after {
  content: "";
  display: block;
  width: 30px;
  border-bottom: 2px solid #ff7435;
  margin: 0 auto;
}
.rest-tabs__top {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  display: block;
  -webkit-transition: ease-in-out -webkit-transform 400ms;
  transition: ease-in-out transform 400ms;
  width: 100%;
  height: 320px;
}
.rest-tabs__top-item {
  background: url('../img/h-index.jpg') no-repeat;
  min-width: 320px;
  min-height: 320px;
  background-size: cover;
  -webkit-transition: width 1s ease-out 0.5s;
  transition: width 1s ease-out 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  padding-top: 20px;
}
@media (min-width: 768px) {
  .rest-tabs__top-item {
    padding-top: 0px;
  }
}
.rest-tabs__top-item-inner {
  display: block;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.84);
}
@media (min-width: 768px) {
  .rest-tabs__top-item-inner {
    text-align: left;
    max-width: 590px;
    background: rgba(255, 255, 255, 0);
  }
}
@media (min-width: 1200px) {
  .rest-tabs__top-item-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
  }
}
.rest-tabs__top-header {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 18px;
}
@media (min-width: 768px) {
  .rest-tabs__top-header {
    font-size: 36px;
    max-width: 590px;
  }
  .rest-tabs__top-header span {
    background: rgba(255, 255, 255, 0.84);
  }
}
.rest-tabs__top-description {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 16px;
}
@media (min-width: 768px) {
  .rest-tabs__top-description {
    font-size: 18px;
    max-width: 590px;
  }
  .rest-tabs__top-description span {
    background: rgba(255, 255, 255, 0.84);
  }
}
.rest-tabs__bottom {
  display: block;
  -webkit-transition: ease-in-out -webkit-transform 400ms;
  transition: ease-in-out transform 400ms;
  width: 100%;
  height: 320px;
}
@media (min-width: 768px) {
  .rest-tabs__bottom {
    height: 450px;
  }
}
.rest-tabs__bottom-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 320px;
  min-height: 320px;
  -webkit-transition: width 1s ease-out 0.5s;
  transition: width 1s ease-out 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.rest-tabs__bottom-item-inner {
  background: url('../img/sky.png') no-repeat;
  background-position-x: center;
  display: block;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .rest-tabs__bottom-item-inner {
    max-width: 820px;
    background-size: 100%;
  }
}
.rest-tabs__bottom-title {
  text-align: center;
  max-width: 225px;
  margin: 0 auto;
}
@media (min-width: 450px) {
  .rest-tabs__bottom-title {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .rest-tabs__bottom-title {
    max-width: 100%;
  }
}
.rest-tabs__bottom-description {
  font-size: 16px;
  text-align: center;
  padding: 0 10px;
  max-width: 600px;
  margin: 10px auto;
}
.rest-tabs__services {
  color: #191919;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: none;
  text-align: center;
  max-width: 600px;
}
@media (min-width: 768px) {
  .rest-tabs__services {
    display: block;
  }
}
@media (min-width: 1200px) {
  .rest-tabs__services {
    display: block;
    max-width: 100%;
  }
}
.rest-tabs__service {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 10px 20px 45px 20px;
}
.rest-tabs__service a {
  top: 90px;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
}
.rest-tabs--switch-width {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: ease-in-out -webkit-transform 400ms;
  transition: ease-in-out transform 400ms;
}
.rest-tabs-item--hidden {
  -webkit-transform: translate3d(100%, -100%, 0);
  transform: translate3d(100%, -100%, 0);
}
.reviews {
  background: url('../img/bg-social.png') no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 50px;
  padding: 40px 0;
  min-height: 517px;
}
.reviews__main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}
.reviews__title {
  color: #ffffff;
  margin-bottom: 40px;
}
.reviews .slick-slide {
  outline: none;
}
.reviews .slick-prev,
.reviews .slick-next {
  left: -45px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.reviews .slick-next {
  left: inherit;
  right: -45px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.reviews .slick-prev:before,
.reviews .slick-next:before {
  content: " ";
  display: none;
}
.reviews__btn-wrapper {
  margin: 40px auto 0;
  width: 180px;
}
@media (min-width: 768px) {
  .review {
    max-width: 480px;
    margin: 0 auto;
  }
}
.review__user-info {
  background: #fff;
  padding-bottom: 20px;
  margin: 20px 0;
}
.review__user-img {
  width: 82px;
  height: 82px;
  border: solid 2px #fff;
  margin: 0 auto;
  -webkit-transform: translate(0, -20px);
  -ms-transform: translate(0, -20px);
  transform: translate(0, -20px);
}
.review__user-name {
  display: block;
}
.review__comment {
  margin: 0 40px;
}
.review__data-stay {
  margin: 10px 0 0;
}
.review__data-stay span {
  display: block;
}
.room-list {
  text-align: center;
  width: 100%;
  position: relative;
}
.room-list__room {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .room-list__room {
    padding: 20px;
  }
}
.room-list__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', sans-serif;
}
.room-list__room-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fafafa;
  padding: 30px 0;
  margin: 50px 0;
}
@media (min-width: 1200px) {
  .room-list__room-info {
    padding: 0;
    max-height: 320px;
  }
}
.room-list__room-img {
  width: 100%;
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .room-list__room-img {
    max-width: 580px;
  }
}
@media (min-width: 1200px) {
  .room-list__room-img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
}
.room-list__room-type {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .room-list__room-type {
    margin: 20px 0;
  }
}
.room-list__room-price {
  display: block;
  font-family: 'fira sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.room-list__room-description {
  display: block;
  position: relative;
  width: 100%;
  max-width: 388px;
  text-align: left;
  margin: 30px 0;
  padding: 0 20px;
}
.room-list__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .room-list__btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
.room-list__room-about {
  display: block;
  letter-spacing: -0.5px;
}
.rooms-header {
  position: relative;
  width: 100%;
  background: url('../img/rooms-header--bg.png') 50% 50% no-repeat;
  height: 200px;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .rooms-header {
    background-size: 100%;
  }
}
.rooms-header__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', sans-serif;
  font-weight: 400;
  letter-spacing: 1.3px;
}
@media (min-width: 768px) {
  .rooms-header__title {
    font-size: 36px;
  }
}
.rooms-header__description {
  display: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.15px;
}
@media (min-width: 768px) {
  .rooms-header__description {
    display: block;
  }
}
.single-room {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}
.single-room__header {
  width: 100%;
  margin: 20px 0 40px;
}
@media (min-width: 1200px) {
  .single-room__header {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
    -ms-flex-order: -2;
    order: -2;
  }
}
.single-room__info {
  width: 100%;
  padding: 0 20px;
  max-width: 600px;
}
@media (min-width: 1200px) {
  .single-room__info {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}
.single-room__title {
  font-size: 26px;
  font-family: 'PT Serif Caption', sans-serif;
}
.single-room__description {
  font-size: 1em;
  font-family: 'PT Serif Caption', sans-serif;
  margin: 15px 0;
}
.single-room__description :before {
  content: " ";
  width: 10px;
  height: 10px;
  display: inline-block;
  border-top: 2px solid #ff7435;
  border-right: 2px solid #ff7435;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 4px 4px 0 0;
}
.single-room__description--list {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
@media (min-width: 768px) {
  .single-room__description--list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
.single-room__magnifier {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 5px;
  font-size: 0;
  background-image: url('../img/ico-ZOOM.png');
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  width: 22px;
  height: 22px;
  padding: 30px;
}
@media (min-width: 1200px) {
  .single-room__magnifier {
    display: block;
  }
}
.single-room__slick {
  width: 100%;
  max-width: 580px;
  height: 400px;
}
.single-room__carusel {
  position: relative;
  padding: 0;
  width: 100%;
}
@media (min-width: 1200px) {
  .single-room__carusel {
    max-width: 600px;
  }
}
.single-room__carusel .slick-slide {
  outline: none;
}
.single-room__carusel .slick-slide img {
  height: 100%;
}
.single-room__carusel .slick-list {
  height: 400px;
}
.single-room__carusel .slick-prev,
.single-room__carusel .slick-next {
  left: 45px;
  width: 0;
  height: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 3;
}
@media (min-width: 1200px) {
  .single-room__carusel .slick-prev,
  .single-room__carusel .slick-next {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 30px;
    height: 30px;
  }
}
.single-room__carusel .slick-next {
  left: inherit;
  right: 45px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.single-room__carusel .slick-prev:before,
.single-room__carusel .slick-next:before {
  content: " ";
  display: none;
}
.switch-rooms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 780px;
  border: solid 2px;
  border-color: #fff;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'fira sans', sans-serif;
  background: #fff;
}
.switch-rooms--flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 768px) {
  .switch-rooms {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .switch-rooms {
    border-color: #ebebeb;
  }
}
.switch-rooms__wrapper {
  width: 100%;
}
.switch-rooms__cursor {
  width: 20px;
  height: 20px;
  border-left: 2px solid;
  border-top: 2px solid;
  border-color: #fff;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -11px;
  left: 86px;
  position: absolute;
}
@media (min-width: 1200px) {
  .switch-rooms__cursor {
    border-color: #ebebeb;
  }
}
.switch-rooms__list {
  display: none;
  border: 2px solid;
  border-color: #fff;
}
@media (min-width: 768px) {
  .switch-rooms__list--active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    top: 154px;
    left: 0;
    background: #fff;
  }
}
@media (min-width: 1200px) {
  .switch-rooms__list--active {
    border-color: #ebebeb;
  }
}
.switch-rooms__title {
  margin: 2px auto;
  padding: 10px 0;
  width: 100%;
  max-width: 135px;
  cursor: pointer;
  opacity: 0.5;
}
.switch-rooms__title--active {
  background-image: url('../img/ico-OK.png');
  background-repeat: no-repeat;
  background-position: left center;
  opacity: 1;
}
@media (min-width: 768px) {
  .switch-rooms__title--border-right {
    border-right: 2px solid #ebebeb;
  }
}
@media (min-width: 768px) {
  .switch-rooms__title {
    padding: 40px 0;
    margin: 20px 0;
    max-width: 100%;
    background-position: center 67%;
  }
}
.switch-rooms__description {
  padding: 100px 0 20px;
  max-width: 85px;
  width: 100%;
  background-image: url('../img/Squad_rule_128.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center 30%;
}
.switch-rooms__description--rooms {
  background-image: url('../img/Elevator_Door_128.png');
}
.switch-rooms__description--beds {
  background-image: url('../img/King_Size_Bed_128.png');
}
.switch-rooms__description--wc {
  background-image: url('../img/Hotel_Bathtub__128.png');
}
.switch-rooms__description--wifi {
  background-image: url('../img/Wifi_Modem_128.png');
}
.type-hotel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-transform: uppercase;
  width: 100%;
}
.type-hotel__item {
  width: 100%;
  margin: 20px 0px;
  cursor: pointer;
}
.type-hotel__item--border-right {
  border-right: 2px solid;
  border-color: #ebebeb;
}
.type-hotel__hotel {
  display: block;
  background-image: url('../img/ico-apartment_House_512.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 82px;
  height: 160px;
  padding-top: 20px;
  margin: 0 auto;
  opacity: 0.5;
}
.type-hotel__hotel--active {
  opacity: 1;
}
.type-hotel__hotel--house {
  background-image: url('../img/ico_family_house_512.png');
}
.type-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.type-price__wrapper {
  width: 100%;
  margin: 40px 0;
}
.type-price__type {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 30px;
}
.type-price__price {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.your {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}
@media (min-width: 768px) {
  .your {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .your {
    padding: 20px 0;
  }
}
.your__contact {
  text-align: left;
  font-size: 14px;
  width: 100%;
}
@media (min-width: 768px) {
  .your__contact {
    width: 49%;
  }
}
.your__info {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin: 7px 0;
  border: 2px solid #ebebeb;
  padding: 15px 0;
  background-repeat: no-repeat;
  background-position: 20px center;
}
.your__contact-descrption {
  text-transform: none;
}
