/* fira-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans'), local('FiraSans-Regular'), url('../fonts/fira-sans-v5-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-regular.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* fira-sans-500 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-500.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('../fonts/fira-sans-v5-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-500.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* fira-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v5-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('../fonts/fira-sans-v5-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/fira-sans-v5-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/fira-sans-v5-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/fira-sans-v5-latin_cyrillic-700.svg#FiraSans') format('svg');
  /* Legacy iOS */
}
/* pt-serif-caption-regular - cyrillic_latin */
@font-face {
  font-family: 'PT Serif Caption';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('PT Serif Caption'), local('PTSerif-Caption'), url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/pt-serif-caption-v8-cyrillic_latin-regular.svg#PTSerifCaption') format('svg');
  /* Legacy iOS */
}
.line-l1,
.line-l2 {
  border-bottom: 2px solid #ff7435;
  width: 30px;
  display: block;
  margin: 2px auto;
}
.title,
.rest-tabs__bottom-title {
  font-family: 'PT Serif Caption', sans-serif;
  font-weight: 500;
  margin: 0;
  display: block;
}
.color-attention {
  color: #e85715;
  font-size: 18px;
}
.step--color {
  background: #fafafa;
}
.day {
  width: 41px;
}
.month {
  width: 45px;
}
.year {
  width: 50px;
}
.border--right {
  border-right: solid 2px #ebebeb;
}
.switch--border {
  border: solid 2px #ebebeb;
}
.span--wrapper {
  padding: 0 5px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
}
body {
  color: #191919;
  font-family: 'fira sans', sans-serif;
}
a,
button,
a:hover,
a:active,
a:focus {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
label span {
  text-transform: uppercase;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label span {
  display: block;
  width: 100%;
  background-position-y: 100%;
  cursor: pointer;
  opacity: 0.7;
  margin: 24px 0;
}
input[type="radio"]:checked + label span {
  opacity: 1;
}
input[type="radio"]:checked ~ ul {
  display: inline-block;
  max-width: 780px;
  width: 100%;
  top: 140px;
  left: -2px;
  position: absolute;
}
.btn,
.btn--icon-calendar,
.btn--borderend,
.btn--background {
  color: #fff;
  background: #ff7435;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 8px 0 5px;
  display: block;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid ;
  width: 100%;
  height: 100%;
  max-width: 180px;
  max-height: 37px;
  border-color: #ff7435;
}
.btn:hover {
  background: #e85715;
  border-color: #e85715;
  color: #fff;
}
.btn--header-lg {
  display: none;
}
@media (min-width: 1200px) {
  .btn--header-lg {
    display: inline-block;
  }
}
.btn--icon-calendar {
  background: url('../img/icon-calendar.png') 16px 9px no-repeat #ff7435;
  padding-left: 15px;
}
.btn--icon-calendar:hover {
  background: url('../img/icon-calendar.png') 16px 9px no-repeat #e85715;
}
.btn--borderend {
  background: none;
}
.btn--borderend:hover {
  color: #079b84;
  background: #fff;
}
.btn--background {
  border-radius: 0;
  background: #0ab89d;
  border-color: #0ab89d;
  width: 100%;
}
.btn--background:hover {
  background: #079b84;
  border-color: #079b84;
}
.btn--stipple {
  color: #191919;
  border-radius: 0;
  background: none;
  border: none;
  border-bottom: 2px dashed #191919;
  text-decoration: none;
  padding: 13px 0 4px;
  width: 81px;
}
.btn--stipple:hover {
  color: #000;
  border-color: #fff;
  background: none;
}
.btn-social {
  display: inline-flex;
  width: 25px;
  height: 20px;
  background: url('../img/icon-vk.png') center no-repeat;
  font-size: 0;
}
.btn-social--f {
  background: url('../img/icon-facebook.png') center no-repeat;
}
.btn-social--insta {
  background: url('../img/icon-insta.png') center no-repeat;
}
.btn--second--vk {
  background: url('../img/icon-vk-second.png') no-repeat;
  float: left;
}
.btn--second--f {
  background: url('../img/icon-face-second.png') no-repeat;
  float: left;
}
.btn--second--insta {
  background: url('../img/icon-insta-second.png') no-repeat;
  float: left;
}
.btn--active {
  color: #e85715;
}
.aparts {
  max-width: 380px;
  max-height: 337px;
  position: relative;
  text-align: center;
  padding-left: 20px;
  margin: 20px auto;
}
.aparts__img {
  display: block;
  width: 100%;
}
.aparts__type {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 26px;
  display: block;
  background: white;
}
.aparts__price {
  display: block;
  font-size: 14px;
  background: white;
  padding: 5px 0 30px;
}
.logo {
  text-align: center;
  width: 100%;
  min-width: 142px;
  height: 49px;
  background: url('../img/logo.png') no-repeat;
  background-position-x: center;
  display: block;
  margin-bottom: 10px;
}
.main-nav {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 59px;
  margin: 0 20px;
}
.main-nav__list {
  align-self: center;
  color: #191919;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  display: none;
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: block;
  }
}
.main-nav__link {
  float: left;
  margin: 5px;
}
.main-nav__link:hover {
  color: #ff7435;
}
.main-nav__burger {
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/icon-burger.png') no-repeat;
  align-self: center;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .main-nav__burger {
    display: none;
  }
}
.nav-display {
  display: block;
  width: 100%;
  text-transform: uppercase;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-out 0.5s;
}
@media (min-width: 1200px) {
  .nav-display {
    display: none;
  }
}
.nav-display__list {
  align-self: center;
  color: #191919;
  font-size: 14px;
  font-weight: 400;
  display: block;
  width: 100%;
  border-top: 1px solid;
  border-color: #ebebeb;
}
.nav-display__link {
  border-bottom: 1px solid;
  border-color: #ebebeb;
  width: 100%;
}
.nav-display__link a {
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
}
.nav-display__link:hover {
  color: #ff7435;
}
.nav-display__burger {
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/icon-burger.png') no-repeat;
  align-self: center;
}
@media (min-width: 1200px) {
  .nav-display__burger {
    display: none;
  }
}
.nav-display--show {
  display: block;
  height: 200px;
  transition: height 1s ease-out 0.5s;
}
.other-rooms {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.other-rooms__wrapper {
  background: #fafafa;
  margin: 0 0 40px;
}
.page-footer {
  display: flex;
  font-size: 14px;
  justify-content: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer {
    justify-content: space-between;
  }
}
.page-footer__wrapper {
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  padding: 30px 20px;
}
.page-footer__adress {
  display: none;
  width: 200px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .page-footer__adress {
    display: inline-block;
  }
}
.page-footer__our-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 142px;
}
@media (min-width: 768px) {
  .page-footer__our-social {
    margin-left: -65px;
  }
}
.page-footer__contacts {
  display: none;
  width: 130px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .page-footer__contacts {
    display: inline-block;
  }
}
.page-header {
  color: #191919;
  margin-top: 17px;
  border-bottom: 1px solid #ebebeb;
}
.page-header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.page-header__contacts {
  display: none;
  font-size: 14px;
  font-family: 'fira sans', sans-serif;
}
@media (min-width: 1200px) {
  .page-header__contacts {
    display: block;
  }
}
.page-header__contacts a {
  display: block;
  font-size: 18px;
  font-family: 'PT Serif Caption', sans-serif;
}
.page-header__wrapper-logo {
  width: 100%;
  margin-right: -65px;
}
@media (min-width: 1200px) {
  .page-header__wrapper-logo {
    width: auto;
    margin: 0;
  }
}
.rest-tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.rest-tabs__switcher {
  margin: 0 auto;
}
.rest-tabs__tab {
  color: #ebebeb;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  margin: 10px;
}
.rest-tabs__tab a:active {
  color: #ff7435;
}
.rest-tabs__tab a:hover {
  color: #ff7435;
}
.rest-tabs__tab a:active > .line-l1 {
  opacity: 1;
}
.rest-tabs__top {
  order: -1;
  display: block;
  transition: ease-in-out transform 400ms;
  width: 100%;
  height: 320px;
}
.rest-tabs__top-item {
  background: url('../img/h-index.jpg') no-repeat;
  min-width: 320px;
  min-height: 320px;
  background-size: cover;
  transition: width 1s ease-out 0.5s;
  transform: translate3d(0, 0, 0);
  padding-top: 20px;
}
.rest-tabs__top-item-inner {
  display: block;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.84);
}
@media (min-width: 768px) {
  .rest-tabs__top-item-inner {
    text-align: left;
    max-width: 590px;
    background: rgba(255, 255, 255, 0);
  }
}
.rest-tabs__top-header {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 18px;
}
@media (min-width: 768px) {
  .rest-tabs__top-header {
    font-size: 36px;
    max-width: 590px;
    background: rgba(255, 255, 255, 0.84);
  }
}
.rest-tabs__top-description {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 16px;
}
@media (min-width: 768px) {
  .rest-tabs__top-description {
    font-size: 18px;
    max-width: 590px;
  }
  .rest-tabs__top-description span {
    background: rgba(255, 255, 255, 0.84);
  }
}
.rest-tabs__bottom {
  display: block;
  transition: ease-in-out transform 400ms;
  width: 100%;
  height: 320px;
}
@media (min-width: 768px) {
  .rest-tabs__bottom {
    height: 450px;
  }
}
.rest-tabs__bottom-item {
  display: flex;
  align-items: center;
  background: url('../img/sky.png') no-repeat;
  background-position-x: center;
  background-size: cover;
  min-width: 320px;
  min-height: 320px;
  transition: width 1s ease-out 0.5s;
  transform: translate3d(0, 0, 0);
}
.rest-tabs__bottom-item-inner {
  display: block;
  max-width: 520px;
  margin: 0 auto;
}
.rest-tabs__bottom-title {
  font-size: 26px;
  text-align: center;
  max-width: 225px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .rest-tabs__bottom-title {
    max-width: 100%;
  }
}
.rest-tabs__bottom-description {
  font-size: 16px;
  text-align: center;
  padding: 0 10px;
}
.rest-tabs__services {
  color: #191919;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  display: none;
  text-align: center;
}
@media (min-width: 768px) {
  .rest-tabs__services {
    display: inline-block;
  }
}
.rest-tabs__service {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 20px 20px 35px 20px;
}
.rest-tabs__service a {
  top: 90px;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
}
.rest-tabs--switch-width {
  transform: translate3d(-100%, 0, 0);
  transition: ease-in-out transform 400ms;
}
.rest-tabs-item--hidden {
  transform: translate3d(100%, -100%, 0);
}
.room-list {
  text-align: center;
  width: 100%;
  position: relative;
}
.room-list__room {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .room-list__room {
    padding: 20px;
  }
}
.room-list__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', sans-serif;
}
.room-list__room-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: #fafafa;
  padding: 30px 0;
  margin: 50px 0;
}
@media (min-width: 1200px) {
  .room-list__room-info {
    padding: 0;
    max-height: 320px;
  }
}
.room-list__room-img {
  width: 100%;
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .room-list__room-img {
    max-width: 580px;
  }
}
@media (min-width: 1200px) {
  .room-list__room-img {
    order: 1;
    align-self: flex-end;
  }
}
.room-list__room-type {
  flex-grow: 1;
  display: block;
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 26px;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .room-list__room-type {
    margin: 20px 0;
  }
}
.room-list__room-price {
  display: block;
  font-family: 'fira sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.room-list__room-description {
  display: block;
  position: relative;
  width: 100%;
  max-width: 388px;
  text-align: left;
  margin: 30px 0;
  padding: 0 20px;
}
.room-list__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .room-list__btn {
    flex-direction: row;
    justify-content: space-around;
  }
}
.room-list__room-about {
  display: block;
  letter-spacing: -0.5px;
}
.rooms-header {
  position: relative;
  width: 100%;
  background: url('../img/rooms-header--bg.png') 50% 50% no-repeat;
  height: 200px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .rooms-header {
    background-size: 100%;
  }
}
.rooms-header__title {
  font-size: 30px;
  font-family: 'PT Serif Caption', sans-serif;
  font-weight: 400;
  letter-spacing: 1.3px;
}
@media (min-width: 768px) {
  .rooms-header__title {
    font-size: 36px;
  }
}
.rooms-header__description {
  display: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.15px;
}
@media (min-width: 768px) {
  .rooms-header__description {
    display: block;
  }
}
.single-room {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
.single-room__header {
  width: 100%;
  margin: 20px 0 40px;
}
@media (min-width: 1200px) {
  .single-room__header {
    order: -2;
  }
}
.single-room__info {
  width: 100%;
  padding: 0 20px;
  max-width: 600px;
}
@media (min-width: 1200px) {
  .single-room__info {
    order: -1;
  }
}
.single-room__title {
  font-size: 26px;
  font-family: 'PT Serif Caption', sans-serif;
}
.single-room__description {
  font-size: 1em;
  font-family: 'PT Serif Caption', sans-serif;
  margin: 15px 0;
}
.single-room__description :before {
  content: " ";
  width: 10px;
  height: 10px;
  display: inline-block;
  border-top: 2px solid #ff7435;
  border-right: 2px solid #ff7435;
  transform: rotate(45deg);
  margin: 4px 4px 0 0;
}
.single-room__description--list {
  column-count: 1;
}
@media (min-width: 768px) {
  .single-room__description--list {
    column-count: 2;
  }
}
.single-room__carusel {
  position: relative;
  padding: 0;
  width: 100%;
}
@media (min-width: 1200px) {
  .single-room__carusel {
    max-width: 600px;
  }
}
.type-price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.type-price__wrapper {
  width: 100%;
  margin: 40px 0;
}
.type-price__type {
  font-family: 'PT Serif Caption', sans-serif;
  font-size: 30px;
}
.type-price__price {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
