.form-header {
  text-align:                               center;
  margin:                                   20px auto;
  &__title{
    font-size:                              @text-size-xl;
    font-family:                            @font-family-h;
  }
  &__description{
    font-size:                              @text-size;
    display:                                block;
  }
}




