div.form-header
    span.form-header__title Бронирование
    span.form-header__description
        |Чтобы забронировать номер в отеле или коттедж,
        |заполните форму ниже или просто позвоните
        |по телефону: 
        a.color-attention(href="tel:+78127775588") +7 812 777-55-88