.form-header {
  .container();
  text-align:                               center;
  margin:                                   20px auto;
  &__title{
    .make-lg-column-offset(4);
    .make-lg-column(4);
    font-size:                              @text-size-xl;
    font-family:                            @font-family-h;
  }
  &__description{
    .make-lg-column-offset(4);
    .make-lg-column(4);
    font-size:                              @text-size;
    display:                                block;
  }
}




