.switch-rooms__wrapper
    ul#switch-rooms.switch-rooms
        li.switch-rooms__title.switch-rooms__title--border-right.switch-rooms__title--active
            span Флагман
            ul.switch-rooms__list.switch-rooms__list--active( data-cursor="86")
                li.switch-rooms__cursor
                li.switch-rooms__description
                    span.area Площадь 100м
                li.switch-rooms__description.switch-rooms__description--rooms
                    span.rooms 3 Комнаты
                li.switch-rooms__description.switch-rooms__description--beds
                    span.sleeps 5 Спальных мест
                li.switch-rooms__description.switch-rooms__description--wc
                    span.wc Раздельный санузел
                li.switch-rooms__description.switch-rooms__description--wifi
                    span.wi-fi Wi-Fi
        li.switch-rooms__title.switch-rooms__title--border-right
            span Озерный
            ul.switch-rooms__list( data-cursor="276")
                li.switch-rooms__cursor
                li.switch-rooms__description
                    span.area Площадь 80м
                li.switch-rooms__description.switch-rooms__description--rooms
                    span.rooms 2 Комнаты
                li.switch-rooms__description.switch-rooms__description--beds
                    span.sleeps 4 Спальных мест
                li.switch-rooms__description.switch-rooms__description--wc
                    span.wc Раздельный санузел
                li.switch-rooms__description.switch-rooms__description--wifi
                    span.wi-fi Wi-Fi
        li.switch-rooms__title.switch-rooms__title--border-right
            span Ольховка
            ul.switch-rooms__list( data-cursor="475")
                li.switch-rooms__cursor
                li.switch-rooms__description
                    span.area Площадь 60м
                li.switch-rooms__description.switch-rooms__description--rooms
                    span.rooms 2 Комнаты
                li.switch-rooms__description.switch-rooms__description--beds
                    span.sleeps 4 Спальных мест
                li.switch-rooms__description.switch-rooms__description--wc
                    span.wc Раздельный санузел
        li.switch-rooms__title
            span Портовый
            ul.switch-rooms__list( data-cursor="668")
                li.switch-rooms__cursor
                li.switch-rooms__description
                    span.area Площадь 60м
                li.switch-rooms__description.switch-rooms__description--rooms
                    span.rooms 2 Комнаты
                li.switch-rooms__description.switch-rooms__description--beds
                    span.sleeps 8 Спальных мест
                li.switch-rooms__description.switch-rooms__description--wc
                    span.wc Раздельный санузел
