section.rest-tabs
    ul.rest-tabs__switcher
        li.rest-tabs__tab
            a(href="javascript:void(0)" onclick="restSwitch_off()") семейный отдых
        li.rest-tabs__tab
            a(href="javascript:void(0)" onclick="restSwitch_on()") корпоративный
    .rest-tabs__top#restTop_1
        .rest-tabs__top-item
            .rest-tabs__top-item-inner
                span.rest-tabs__top-header Семейный отдых на  берегу Финского залива
                p.rest-tabs__top-description
                    span.
                        Green Valley - это современная база отдыха
                        в курортном районе для здорового отдыха всей семёй.
        .rest-tabs__top-item.rest-tabs-item--hidden
            .rest-tabs__top-item-inner
                span.rest-tabs__top-header Корпоративный отдых на  берегу Финского залива
                p.rest-tabs__top-description
                    span.
                        Green Valley - это современная база отдыха
                        в курортном районе для корпоративов.
    .rest-tabs__bottom#restBottom_1
        .rest-tabs__bottom-item
            .rest-tabs__bottom-item-inner
                p.rest-tabs__bottom-title Здоровый отдых
                p.rest-tabs__bottom-description.
                    Плавайте в бассейне, играйте в волейбол, футбол и другие игры.
                    Устройте семейный пикник с шашлыками или снимите напряжение в бане или спа.
                    Почувствуйте отдых!
                ul.rest-tabs__services
                    li.rest-tabs__service(style="background: url('img/pool.png') no-repeat")
                        a(href="#") бассейн

                    li.rest-tabs__service(style="background: url('img/footbal.png') no-repeat")
                        a(href="#") спортивная площадка

                    li.rest-tabs__service(style="background: url('img/billiard.png') no-repeat")
                        a(href="#") бильярд

                    li.rest-tabs__service(style="background: url('img/spa.png') no-repeat")
                        a(href="#") спа

                    li.rest-tabs__service(style="background: url('img/bani.png') no-repeat")
                        a(href="#") бани

                    li.rest-tabs__service(style="background: url('img/child.png') no-repeat")
                        a(href="#") анимация

        .rest-tabs__bottom-item.rest-tabs-item--hidden
            .rest-tabs__bottom-item-inner
                p.rest-tabs__bottom-title Корпоративный отдых
                p.rest-tabs__bottom-description.
                    Плавайте в бассейне, играйте в волейбол, футбол и другие игры.
                    Устройте семейный пикник с шашлыками или снимите напряжениев бане или спа.
                    Почувствуйте отдых!
                ul.rest-tabs__services
                    li.rest-tabs__service(style="background: url('img/pool.png') no-repeat")
                        a(href="#") бассейн

                    li.rest-tabs__service(style="background: url('img/footbal.png') no-repeat")
                        a(href="#") спортивная площадка

                    li.rest-tabs__service(style="background: url('img/billiard.png') no-repeat")
                        a(href="#") бильярд

                    li.rest-tabs__service(style="background: url('img/spa.png') no-repeat")
                        a(href="#") спа

                    li.rest-tabs__service(style="background: url('img/bani.png') no-repeat")
                        a(href="#") бани

                    li.rest-tabs__service(style="background: url('img/child.png') no-repeat")
                        a(href="#") анимация

