nav#nav-display.nav-display
    ul.nav-display__list
        li.nav-display__link
            a(href="roomlist.html")номера
        li.nav-display__link.main-nav--active
            a(href="single-room.html")коттедж
        li.nav-display__link
            a(href="#")ресторан
        li.nav-display__link
            a(href="#") отдых
        li.nav-display__link
            a(href="#") контакты
