.page-footer{
  //.container();
  display:                      flex;
  justify-content:              space-between;
  width:                        100%;
  max-width:                    1170px;
  margin:                       0 auto;
  &__adress{
    .hidden-xs();
    width:                      200px;
  }
  &__our-social{

    display:                    flex;
    flex-wrap:                  wrap;
    justify-content:            space-between;
    max-width:                  142px;
    margin:                     0 auto;


  }

  &__contacts{
    .hidden-xs();
    width:                      130px;
  }
}