.page-footer{

  &__our-social{
    display:                    flex;
    flex-wrap:                  wrap;
    justify-content:            space-between;
    width:                      143px;

  }
}