div.reviews
    h1.reviews__title Отзывы
    div#review.slider
        div
            div.reviews__main
                section.review
                    div.review__user-info
                        .review__user-img(style="background: url('img/kate.jpg') no-repeat")
                        span.review__user-name Екатерина В.
                        a.btn-social(href="javascript:void(0)")
                        article.review__comment
                            |Наша семья счастлива, что открыла для себя Green Valley. Замечательный,
                            |комфортный отдых. Хорошее место, приветливый персонал, вкусная еда.
                            |Стали постоянными гостями!
                            div.review__data-stay
                                span Дата отдыха:
                                span 01.06.2015 - 08.06.2015
        div
            div.reviews__main
                section.review
                    div.review__user-info
                        .review__user-img(style="background: url('img/mari.jpg') no-repeat")
                        span.review__user-name Екатерина В.
                        a.btn-social(href="javascript:void(0)")
                        article.review__comment
                            |Спасибо всем без исключения сотрудникам отеля за прекрасные дни, проведённые у вас!
                            |Наслаждались тишиной, отдохнули прекрасно. Понравилось всё: тёплый приём персоналом.
                            div.review__data-stay
                                span Дата отдыха:
                                span 15.05.2015 - 20.05.2015
    div.reviews__btn-wrapper
        a.btn.btn--borderend(href="javascript:void(0)") Все отзывы