.type-price{
  text-align: center;
  margin-bottom: 40px;
  &__type{
  font-family:                  @font-family-h;
  font-size:                    @text-size-xl;
  }

  &__price{
    display: block;
    font-size:                  @text-size-sm;
    margin-top:                 5px;
  }
}