.index-gallery
    #silck_for.slider
        div
            img(src="img/index_room/1.jpg")
        div
            img(src="img/index_room/2.jpg")
        div
            img(src="img/index_room/3.jpg")
        div
            img(src="img/index_room/4.jpg")
        div
            img(src="img/index_room/5.jpg")
        div
            img(src="img/index_room/6.jpg")
        div
            img(src="img/index_room/7.jpg")
        div
            img(src="img/index_room/1.jpg")
        div
            img(src="img/index_room/2.jpg")
        div
            img(src="img/index_room/3.jpg")
        div
            img(src="img/index_room/4.jpg")
        div
            img(src="img/index_room/5.jpg")
        div
            img(src="img/index_room/6.jpg")
        div
            img(src="img/index_room/7.jpg")

    #silck_nav.index-gallery__nav.slider
        div
            img(src="img/index_room/1s.jpg")
        div
            img(src="img/index_room/2s.jpg")
        div
            img(src="img/index_room/3s.jpg")
        div
            img(src="img/index_room/4s.jpg")
        div
            img(src="img/index_room/5s.jpg")
        div
            img(src="img/index_room/6s.jpg")
        div
            img(src="img/index_room/7s.jpg")
        div
            img(src="img/index_room/1s.jpg")
        div
            img(src="img/index_room/2s.jpg")
        div
            img(src="img/index_room/3s.jpg")
        div
            img(src="img/index_room/4s.jpg")
        div
            img(src="img/index_room/5s.jpg")
        div
            img(src="img/index_room/6s.jpg")
        div
            img(src="img/index_room/7s.jpg")
