div.aparts
    img.aparts__img(src="img/rooms/standard-room.jpg")
    span.aparts__type Стандарт
        span.aparts__price от
            span.color-attention  4000
            |  руб./сутки

div.aparts
    img.aparts__img.img-right(src="img/rooms/standard-plus-room.jpg")
    span.aparts__type Стандарт+
        span.aparts__price от
            span.color-attention  4000
            |  руб./сутки

div.aparts
    img.aparts__img.img-right(src="img/rooms/lux-room.jpg")
    span.aparts__type Люкс
        span.aparts__price от
            span.color-attention  4000
            |  руб./сутки



