section.room-list
    h2.room-list__title Категории
    article.room-list__room
        .room-list__room-info
            span.room-list__room-type Эконом
                span.room-list__room-price от
                    span.color-attention  4000
                    |  руб./в сутки
            img.room-list__room-img(src="img/rooms/econom-room.jpg")
            .room-list__room-description
                span.room-list__room-about
                    |  В отеле 30 таких номеров площадью от 16 до 20 кв.м.
                span.room-list__room-about
                    |  Рассчитаны на проживание 1-2 человек.
                span.room-list__room-about
                    |  Часть номеров с видом на Финский залив
                .room-list__btn
                    a.btn(href="form.html")Забронировать
                    a.btn.btn--stipple(href="single-room.html") Подробнее

        .room-list__room-info
            span.room-list__room-type Стандарт
                span.room-list__room-price от
                    span.color-attention  4000
                    |  руб./в сутки
            img.room-list__room-img(src="img/rooms/standard-room.jpg")
            .room-list__room-description
                span.room-list__room-about
                    | В отеле 30 таких номеров площадью от 16 до 20 кв.м.
                span.room-list__room-about
                    | Рассчитаны на проживание 1-2 человек.
                span.room-list__room-about
                    | Часть номеров с видом на Финский залив
                .room-list__btn
                    a.btn(href="form.html")Забронировать
                    a.btn.btn--stipple(href="single-room.html") Подробнее

        .room-list__room-info
            span.room-list__room-type Стандарт +
                span.room-list__room-price от
                    span.color-attention  4000
                    |  руб./в сутки
            img.room-list__room-img(src="img/rooms/standard-plus-room.jpg")
            .room-list__room-description
                span.room-list__room-about
                    | В отеле 30 таких номеров площадью от 16 до 20 кв.м.
                span.room-list__room-about
                    | Рассчитаны на проживание 1-2 человек.
                span.room-list__room-about
                    | Часть номеров с видом на Финский залив
                .room-list__btn
                    a.btn(href="form.html")Забронировать
                    a.btn.btn--stipple(href="single-room.html") Подробнее

        .room-list__room-info
            span.room-list__room-type Люкс
                span.room-list__room-price от
                    span.color-attention  4000
                    |  руб./в сутки
            img.room-list__room-img(src="img/rooms/lux-room.jpg")
            .room-list__room-description
                span.room-list__room-about
                    | В отеле 30 таких номеров площадью от 16 до 20 кв.м.
                span.room-list__room-about
                    | Рассчитаны на проживание 1-2 человек.
                span.room-list__room-about
                    | Часть номеров с видом на Финский залив
                .room-list__btn
                    a.btn(href="form.html")Забронировать
                    a.btn.btn--stipple(href="single-room.html") Подробнее
