nav.main-nav
    ul.main-nav__list
        li.main-nav__link
            a(href="#")номера
        li.main-nav__link.main-nav--active
            a(href="#")коттедж
        li.main-nav__link
            a(href="#")ресторан
        li.main-nav__link
            a(href="#") отдых
        li.main-nav__link
            a(href="#") контакты
    span.main-nav__burger
