section.offers
    div.offers__item
        span.offers__title Акции и предложения
        #offersSlick.offers__slick
            div.offers__slick-slide(style="background-image: url('img/offers__bg.png')")
                article.offers__info
                    span.offers__info-title Скидки в мае
                    span.offers__info-description
                        | Забронируйте номер или коттедж любой категории
                        | до 31 июня и получите скидку 10% !


            div.offers__slick-slide(style="background-image: url('img/allin.jpg')")
                article.offers__info
                    span.offers__info-title все включено
                    span.offers__info-description
                        | Отдых на берегу финского залива всей семьёй с трёхразовым питанием
                        | и бассейном!