.logo{
  display:                  block;
  height:                   49px;
  width:                    143px;
  background:               url('@{img-path}logo.png') no-repeat;
  text-decoration:          none;
  margin-bottom:            13px;
}