section.single-room
    div.single-room__header
        div.type-price
            span.type-price__type Эконом
            span.type-price__price от
                span.color-attention 4000 руб./сутки
    div.single-room__carusel
        div#singleOvl.owl-carousel
            div
                img(src="img/rooms/011.jpg")
            div
                img(src="img/rooms/econom-room.jpg")
    article.single-room__info
        span.single-room__title О номере
        p.single-room__description
            |В отеле 30 таких номеров площадью от 16 до 20 кв.м. Рассчитаны
            |на проживание 1-2 человек. Часть номеров с видом на Финский залив.
        span.single-room__title Удобства
        ul.single-room__description.description-list
            li
                span.color-attention >
                |   WI-FI
            li
                span.color-attention >
                |   Двуспальная кровать
            li
                span.color-attention >
                |  Кресло
            li
                span.color-attention >
                |  Раскладывающийся диван
            li
                span.color-attention >
                |  Фен
            li
                span.color-attention >
                |  Рабочий стол
            li
                span.color-attention >
                |   Шкаф для одежды
            li
                span.color-attention >
                |   Багажная тумба
            li
                span.color-attention >
                |   Сейф

        span.single-room__title В стоимость входит
        ul.single-room__description
            li
                span.color-attention >
                |  Бассейн с с 8.30 до 10.00
            li
                span.color-attention >
                |  Завтрак и обед «шведский стол» Двуспальная кровать
    div.type-price
        a.btn.btn--icon-calendar( href="form.html") Забронировать
        span.type-price__price от
            span.color-attention  4000
            |руб./сутки