.single-room{
  display:                       flex;
  flex-wrap:                     wrap;
  max-width:                     1200px;
  width:                         100%;
  justify-content:               space-between;
  margin:                        0 auto;

  &__header{
    width:                        100%;
    margin:                       20px 0 40px;
    @media ( min-width: 1200px) {
      order:                        -2;
    }
  }
  &__info{
    width:                        100%;
    padding:                      0 20px;
    max-width:                    600px;
    @media ( min-width: 1200px) {
      order:                        -1;
    }
  }

  &__title{
    font-size:                    (@text-size-xl)-4;
    font-family:                  @font-family-h;
  }

  &__description{
    font-size:                    1em;
    font-family:                  @font-family-h;
    margin: 15px 0;
    :before{
      content: " ";
      width:                       10px;
      height:                      10px;
      display:                     inline-block;
      border-top:                  2px solid @color-second;
      border-right:                2px solid @color-second;
      transform:                   rotate(45deg);
      margin:                      4px 4px 0 0;
    }
  }

  &__description--list{
    column-count:                  1;

    @media ( min-width: 768px) {
      column-count:                2;
    }
  }

  &__carusel{
    position:                       relative;
    padding: 0;
    width: 100%;
    @media ( min-width: 1200px) {
      max-width:                    600px;
    }
  }
}

