section.single-room
    div.single-room__header
        div.type-price
            span.type-price__type Эконом
                span.type-price__price  от
                    span.color-attention  4000
                    |   руб./сутки
    div.single-room__carusel
        a.single-room__magnifier(href="./img/rooms/1.jpg" alt="") kegf
        div#singleSlick.single-room__slick
            div
                img(src="img/rooms/1a.jpg" data-img='1.jpg' )
            div
                img(src="img/rooms/3a.jpg" data-img='3.jpg')
            div
                img(src="img/rooms/4a.jpg" data-img='4.jpg')
            div
                img(src="img/rooms/5a.jpg" data-img='5.jpg')
    article.single-room__info
        span.single-room__title О номере
        p.single-room__description
            |В отеле 30 таких номеров площадью от 16 до 20 кв.м. Рассчитаны
            |на проживание 1-2 человек. Часть номеров с видом на Финский залив.
        span.single-room__title Удобства
        ul.single-room__description.single-room__description--list
            li  WI-FI
            li  Двуспальная кровать
            li  Кресло
            li  Раскладывающийся диван
            li  Фен
            li  Рабочий стол
            li  Шкаф для одежды
            li  Багажная тумба
            li  Сейф

        span.single-room__title В стоимость входит
        ul.single-room__description
            li  Бассейн с с 8.30 до 10.00
            li  Завтрак и обед «шведский стол» Двуспальная кровать
    div.type-price__wrapper
        div.type-price
            a.btn.btn--icon-calendar( href="form.html") Забронировать
            span.type-price__price от
                span.color-attention  4000
                |руб./сутки