.length-stay.length-stay--border-right
    span.length-stay__title Дата Въезда
    input.length-stay__d( type='text' placeholder='ДД' maxlength='2')
    input.length-stay__d.length-stay__d--month( type='text' placeholder='ММ' maxlength='2')
    input.length-stay__d.length-stay__d--year( type='text' placeholder='ГГГГ' maxlength='4')
.length-stay
    span.length-stay__title Дата Выезда
    input.length-stay__d( type='text' placeholder='ДД' maxlength='2')
    input.length-stay__d.length-stay__d--month( type='text' placeholder='ММ' maxlength='2')
    input.length-stay__d.length-stay__d--year( type='text' placeholder='ГГГГ' maxlength='4')