.location
    h1.location__title Как до нас добраться
    div.location__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1043.3817404989545!2d29.639441473423922!3d60.19195701968106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469655a8f3af85e1%3A0x73d49700f555aa7e!2z0J_RgNC40LzQvtGA0YHQutC-0LUg0YguLCA1OTgsIFVzaGtvdm8sIGcuIFNhbmt0LVBldGVyYnVyZywgMTk5MDA0!5e0!3m2!1sen!2sru!4v1447771316946" frameborder="0" style="border:0" allowfullscreen="")


    article.location__to-get-on
        div.location__transport
            span.location__transport-ico
            span.location__transport-title Автобусы
            ul.location__transport-variants
               li
                span № 211
                |  от станции метро «Черная речка» до остановки «Санаторий Репино»
               li
                span № 305К
                |  от станции метро «Старая деревня»
               li
                span № 680К
                |  от станции метро «Проспект Просвещения»
               li
                span № 400К
                |  от станции метро «Площадь Ленина»
        div.location__transport
            span.location__transport-ico.location__transport-ico--train
            span.location__transport-title Электропоезд
            ul.location__transport-variants
                li Электропоезд Выборгского направления от Финляндского вокзала Санкт-Петербурга до платформы «Репино»

