.location
    h1.location__title Как до нас добраться
    div.location__map


    article.location__to-get-on
        div.location__transport
            span.location__transport-ico
            span.location__transport-title Автобусы
            ul.location__transport-variants
               li  № 211 от станции метро «Черная речка» до остановки «Санаторий Репино»
               li  № 305К от станции метро «Старая деревня»
               li  № 680К от станции метро «Проспект Просвещения»
               li  № 400К от станции метро «Площадь Ленина»
        div.location__transport
            span.location__transport-ico.location__transport-ico--train
            span.location__transport-title Электропоезд
            ul.location__transport-variants
                li Электропоезд Выборгского направления от Финляндского вокзала Санкт-Петербурга до платформы «Репино»

