.location
    h1.location__title Как до нас добраться
        div.location__map


        article.location__to-get-on
            div.location__transport
                span.location__transport-ico
                span.location__transport-title Автобусы
                ul.location__transport-variants
                    li
            div.location__transport
                span.location__transport-ico.location__transport-ico--train
                span.location__transport-title Электропоезд
                ul.location__transport-variants
                    li

