extends blocks/foot-head
block content
    +pageHeader('noLine')
    include blocks/rest-tabs/rest-tabs.jade
    include blocks/index-gallery/index-gallery.jade
    include blocks/reviews/reviews.jade
    include blocks/offers/offers.jade
    include blocks/location/location.jade
    .aparts__selection-wrapper
        span.aparts__title Где вы хотите отдохнуть?
        #indexApartsSlike.aparts__selection.aparts__selection--index
            include blocks/aparts/aparts.jade

