doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Document
        link(rel="stylesheet" href="css/style.css")
    body
        include blocks/page-header/page-header.jade
        include blocks/single-room/single-room.jade
        include blocks/other-rooms/other-rooms.jade
        include blocks/page-footer/page-footer.jade
