.select-aparts{

  &__wrapper{

  }
}

.aparts{

  &__img{

  }

  &__type{
    font-family:            @font-family-h;
    font-size:              26px;
  }

  &__price{
    font-size: @text-size-sm;
  }
}